body {
    background-color: #95db4f;
}
.navbar-custom {
    background-color: #f1ebe5;
}
.div-custom {
    background-color: #f1ebe5;
}
.custom-font {
    font-family: 'Alfa Slab One', cursive;
}
.custom-font-2 {
    font-family: 'Alfa Slab One', cursive;
    color: gray;
}
.custom-font-3 {
    font-family: 'Alfa Slab One', cursive;
    color: white;
}
.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: dvh;
    padding-right: 20px;
    color: gray;
}
.bar-icon{
    display: flex;
    justify-content: flex-start;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-shadow:
        3px 3px 0 #346900,  
        3px 3px 0 #346900,
        3px 3px 0 #346900,
        3px 3px 0 #346900;
}
.border2{
    border: 30px solid #f1ebe5;
    border-radius: 6%;
}
.border3{
    border-left: 3px solid #cfcbc6;
    border-top: 0px;
    border-bottom: 0px;
}
.border4{
    border-right: 3px solid #cfcbc6;
}